EkimSinaviClient/src/wsdl/localhost_8081/SoapInterface.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://ekimsinavibookws.mycompany.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="WareHouseWSService" targetNamespace="http://ekimsinavibookws.mycompany.com/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://ekimsinavibookws.mycompany.com/" elementFormDefault="unqualified" targetNamespace="http://ekimsinavibookws.mycompany.com/" version="1.0">

  <xs:element name="deliveryTime" type="tns:deliveryTime"/>

  <xs:element name="deliveryTimeResponse" type="tns:deliveryTimeResponse"/>

  <xs:element name="getInfoAboutBook" type="tns:getInfoAboutBook"/>

  <xs:element name="getInfoAboutBookResponse" type="tns:getInfoAboutBookResponse"/>

  <xs:complexType name="getInfoAboutBook">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getInfoAboutBookResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="deliveryTime">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int"/>
      <xs:element name="arg1" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="deliveryTimeResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="deliveryTimeResponse">
    <wsdl:part element="tns:deliveryTimeResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deliveryTime">
    <wsdl:part element="tns:deliveryTime" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getInfoAboutBookResponse">
    <wsdl:part element="tns:getInfoAboutBookResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getInfoAboutBook">
    <wsdl:part element="tns:getInfoAboutBook" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="WarehouseInterface">
    <wsdl:operation name="getInfoAboutBook">
      <wsdl:input message="tns:getInfoAboutBook" name="getInfoAboutBook">
    </wsdl:input>
      <wsdl:output message="tns:getInfoAboutBookResponse" name="getInfoAboutBookResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deliveryTime">
      <wsdl:input message="tns:deliveryTime" name="deliveryTime">
    </wsdl:input>
      <wsdl:output message="tns:deliveryTimeResponse" name="deliveryTimeResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WareHouseWSServiceSoapBinding" type="tns:WarehouseInterface">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getInfoAboutBook">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getInfoAboutBook">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getInfoAboutBookResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deliveryTime">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="deliveryTime">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deliveryTimeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WareHouseWSService">
    <wsdl:port binding="tns:WareHouseWSServiceSoapBinding" name="WareHouseWSPort">
      <soap:address location="http://localhost:8081/SoapInterface"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>