SoapForExamClient/src/wsdl/localhost_8080/MovieDatabase.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://soapforexam.mycompany.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="ExamImpService" targetNamespace="http://soapforexam.mycompany.com/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://soapforexam.mycompany.com/" elementFormDefault="unqualified" targetNamespace="http://soapforexam.mycompany.com/" version="1.0">

  <xs:element name="getMovieData" type="tns:getMovieData"/>

  <xs:element name="getMovieDataResponse" type="tns:getMovieDataResponse"/>

  <xs:element name="getMovies" type="tns:getMovies"/>

  <xs:element name="getMoviesResponse" type="tns:getMoviesResponse"/>

  <xs:complexType name="getMovies">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getMoviesResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:Movies"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Movies">
    <xs:sequence>
      <xs:element minOccurs="0" name="directorName" type="xs:string"/>
      <xs:element name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="year" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getMovieData">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getMovieDataResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="getMoviesResponse">
    <wsdl:part element="tns:getMoviesResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getMovieDataResponse">
    <wsdl:part element="tns:getMovieDataResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getMovies">
    <wsdl:part element="tns:getMovies" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getMovieData">
    <wsdl:part element="tns:getMovieData" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ExamInterface">
    <wsdl:operation name="getMovies">
      <wsdl:input message="tns:getMovies" name="getMovies">
    </wsdl:input>
      <wsdl:output message="tns:getMoviesResponse" name="getMoviesResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMovieData">
      <wsdl:input message="tns:getMovieData" name="getMovieData">
    </wsdl:input>
      <wsdl:output message="tns:getMovieDataResponse" name="getMovieDataResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ExamImpServiceSoapBinding" type="tns:ExamInterface">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getMovies">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getMovies">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getMoviesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMovieData">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getMovieData">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getMovieDataResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ExamImpService">
    <wsdl:port binding="tns:ExamImpServiceSoapBinding" name="ExamImpPort">
      <soap:address location="http://localhost:8080/MovieDatabase"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>